<div class="admin">
<p id="notice"><%= notice %></p>
  <%= render :partial => 'shared/sign_out'%>
  <ul id="admin_form_buttons">
  	<li><span class="help_text"><button id="new_artwork_button">New Artwork</button>Click this button to create new artwork</span></li>
  	<li><button id="cancel_artwork_button" style="display: none;">Cancel Artwork</button></li>
    <li><button id="new_gallery_button">New Gallery</button><span class="help_text">Click this button to create a new gallery</span></li>
    <li><button id="cancel_gallery_button" style="display: none;">Cancel Gallery</button></li> 
  </ul>
  
  <div id ="admin_fields">
	<div id="artwork_form">
	  <%= render :partial => 'artworks/form'%>
	</div>
	<div id="gallery_form">
	  <%= render :partial => 'galleries/form'%>
	</div>
  </div>
  
  <div id="admin_content">	
	  <h2>Artworks</h2>
	  <div id="artworks">
		  <ul>
		    <%= render @artworks %>
		  </ul>
	  </div>
	  
	  <h2>Edit a Gallery</h2>
	  <div class= "get_frontpage">
	    <% @galleries.each do |g| %>
	      <%= link_to "#{g.name}", frontpage_admin_path(:id => g.id), :remote => true %>
	    <% end %>
	  </div>
	  
	  <div id="image-gallery"></div>
	  
	  <div id='edit_gallery'></div>
	  
	  <h2>Articles</h2>
	  <ul>
	    <% @articles.each do |article| %>
	      <li>
	        <%= article.name %>
	        <%= link_to 'Show', article %>
	        <%= link_to 'Edit', edit_article_path(article) %>
	        <%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %>
	      </li>
	    <% end %>
	  </ul>
  </div>
</div>