<p id="notice"><%= notice %></p>

  <p><button id="new_artwork_button">New Artwork</button>
  	 <button id="cancel_artwork_button" style="display: none;">Cancel Artwork</button> 
     <button id="new_gallery_button">New Gallery</button>
     <button id="cancel_gallery_button" style="display: none;">Cancel Gallery</button> 
  </p>
  
  <div id ="admin_fields">
	<div id="artwork_form">
	  <%= render :partial => 'artworks/form'%>
	</div>
	<div id="gallery_form">
	  <%= render :partial => 'galleries/form'%>
	</div>
  </div>
  
  <div id="admin_content">	
  <h2>Artworks</h2>
  <div id="artworks">
	  <ul>
	    <%= render @artworks %>
	  </ul>
  </div>
  
  <h2>Galleries</h2>
  <div id="galleries">
	  <ul>
	    <%= render @galleries %>
	  </ul>
  </div>
  
  <h2>Articles</h2>
  <ul>
    <% @articles.each do |article| %>
      <li>
        <%= article.name %>
        <%= link_to 'Show', article %>
        <%= link_to 'Edit', edit_article_path(article) %>
        <%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %>
      </li>
    <% end %>
  </ul>
  </div>
