
  <p><%= link_to 'New Artwork', new_artwork_path %></p>
  <p><%= link_to 'New Gallery', new_gallery_path %></p>
  
  <h2>Artworks</h2>
  <ul>
    <% @artworks.each do |artwork| %>
      <li>
        <%= artwork.name %>
        <%= link_to 'Show', artwork %>
        <%= link_to 'Edit', edit_artwork_path(artwork) %>
        <%= link_to 'Destroy', artwork, :confirm => 'Are you sure?', :method => :delete %>
      </li>
    <% end %>
  </ul>
  
  <h2>Galleries</h2>
  <ul>
    <% @galleries.each do |gallery| %>
      <li>
        <%= gallery.name %>
        <%= link_to 'Show', gallery %>
        <%= link_to 'Edit', edit_gallery_path(gallery) %>
        <%= link_to 'Destroy', gallery, :confirm => 'Are you sure?', :method => :delete %>
      </li>
    <% end %>
  </ul>
