<%= form_for @artwork, :html => {:multipart => true}  do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
  	<%= f.file_field :photo %>
  </div>
  <div class="field">
  	<%= f.label :gallery_id %>
  	<%= f.collection_select :gallery_id, Gallery.all, :id, :name, {:include_blank => true} %>
  </div>
  <div class ="field">
  	<%= f.label :category_id %>
  	<%= f.collection_select :category_id, Category.all, :id, :name, {:include_blank => true } %>
  </div>
    <%= f.label :front_page %><br />
    <%= f.check_box :front_page %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
