<a href="#" class="switch_thumb">Switch Thumb</a>
<ul class="display">
<% @artworks.each do |artwork| %>
  <li>
    <div class="content_block">
      <%= link_to image_tag(artwork.photo(:small)), artwork %>
      <h2><%= artwork.name %> </h2>
      <% if user_signed_in? %>
        <%= link_to 'Edit', edit_artwork_path(artwork) %>
        <%= link_to 'Delete', artwork, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
      <% unless artwork.description.nil? %>
        <p><%= artwork.description %></p>
      <% end %>
    </div>
  </li>
<% end %>  
</ul>