<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @artwork.name %>
</p>
<p>
  <%= image_tag @artwork.photo.url %>
</p>

<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Back', artworks_path %>
