<div id="header">
<h1>Daniel Weissbrodt</h1>
<% cache 'top_nav' do %>
  <ul id="topnav">
    <li><%= link_to "Home", root_path %>  </li>
    <li>
        <%= link_to 'Artwork', artworks_path %>
        <!--Subnav Starts Here-->
        <span>
        	<% @artworks = Artwork.all %>
            <% @artworks.each do |artwork|%>
			  <%= link_to "#{artwork.name}", artwork %>|
			<% end %>
        </span>
        <!--Subnav Ends Here-->
    </li>
    <li>
        <%= link_to 'Artwork', artworks_path %>
        <!--Subnav Starts Here-->
        <span>
            <% @artworks.each do |artwork|%>
			  <%= link_to "#{artwork.name}", artwork %>|
			<% end %>
        </span>
        <!--Subnav Ends Here-->
    </li>
  </ul>
<% end %>
</div>