<div id="header">
<h1>Daniel Weissbrodt</h1>
<% cache 'top_nav' do %>
  <ul id="topnav">
    <li><%= link_to "Home", root_path %>  </li>
    <li>
        <%= link_to 'Artwork', artworks_path %>
        <!--Subnav Starts Here-->
        <span>
        	<% @galleries = Gallery.all %>
            <% @galleries.each do |gallery|%>
			  <%= link_to "#{gallery.name}", gallery %>|
			<% end %>
        </span>
        <!--Subnav Ends Here-->
    </li>
    <li><%= link_to 'Bio', artworks_path %></li>
    <li><%= link_to 'Resume', artworks_path %></li>
    <li><%= link_to 'Contact', artworks_path %></li>
  </ul>
<% end %>
</div>