<h1>Daniel Weissbrodt</h1>
  <ul id="topnav">
    <li><%= link_to "Home", root_path %>  </li>
    <li>
        <%= link_to 'Artwork', artworks_path %>
        <!--Subnav Starts Here-->
        <span>
        	<% @galleries = Gallery.limit(2).order("name ASC") %>
            <% @galleries.each do |gallery|%>
			  <%= link_to "#{gallery.name}", gallery %>|
			<% end %>
			<%= link_to "More Galleries", galleries_path %>
        </span>
        <!--Subnav Ends Here-->
    </li>
    <% @articles = Article.order("name ASC") %>
    <% @articles.each do |article| %>
      <li><%= link_to "#{article.name}", article %></li>
    <% end %>
  </ul>