<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery', 'application', 'prototype', 'wysihat_engine_pack', 'rails' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="container">
  <div id="header" >
    <%= render 'shared/header' %>
  </div>
  <%= yield %>
</div>
</body>
</html>
